@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #127369;
  --header-footer-bg: #10403b;
  --text-color: #4c5958;
  --link-color: #127369;
  --link-hover-color: #8aa6a3;
  --button-bg: #127369;
  --button-text-color: #ffffff;
  --muted-bg: #8aa6a3;
  --muted-text-color: #4c5958;
  --background-color: #bfbfbf;
}

body {
  background-color: var(--background-color);
}

.logo {
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

#menu {
  padding: 8px;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
}

.navbar {
  background-color: var(--header-footer-bg);
  position: relative;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
}

.elemets {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elemets a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .elemets {
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    background-color: var(--header-footer-bg);
    flex-direction: column;
    transition: top 0.3s ease;
    text-align: center;
    z-index: 3;
  }

  .elemets a {
    display: block;
    margin: 10px 0;
  }
}

.map {
  margin-top: 10%;
  background-color: var(--muted-bg);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map iframe {
  width: 90%;
  height: 90%;
  border: none;
}

.footer {
  background-color: var(--header-footer-bg);
  color: #fff;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#f-menu {
  padding: 10px;
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 24px;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

#follow {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 5px;
  text-transform: uppercase;
}

.icons {
  color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
}

.icons a {
  margin: 20px 5px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 10px;
  font-size: 20px;
  color: var(--primary-color);
  background: var(--background-color);
  text-align: center;
  display: inline-block;
}

.icons a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.contact {
  margin-top: 24px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.contact h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact p {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
  cursor: pointer;
}

.contact .fa-solid , .access .fa-solid {
  font-size: 20px;
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: var(--background-color);
  text-align: center;
  cursor: pointer;
}

.contact p:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.access {
  margin-top: 24px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.access h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.access a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin: 8px 0;
  cursor: pointer;
  color: #fff;
}

.access a:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.company {
  width: 40%;
  margin-top: 24px;
}

.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 100%;
}

.slide {
  display: none;
}

img {
  vertical-align: middle;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: var(--button-bg);
}

.dots-container {
  text-align: center;
  padding: 20px;
  background: var(--background-color);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--primary-color);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.songs-slideshow-container {
  width: 100%;
  padding: 20px 8%;
}

.songs-slideshow-container {
  background-color: var(--muted-bg);
  position: relative;
  margin: auto;
  max-width: 100%;
  padding: 20px 8%;
}

.songs-title {
  color: var(--primary-color);
  text-align: center;
}

.songs-slide,
.Playlists-slide {
  display: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.song-box,
.playlist-box {
  background-color: var(--background-color);
  color: var(--muted-text-color);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 22%;
  text-align: center;
}

.song-box:hover,
.artist-box:hover,
.playlist-box:hover{
  cursor: pointer;
}

.song-box img {
  object-fit: cover;
  border-radius: 10px;
  width: 90%;
}

.song-box p {
  margin-top: 5px;
  font-size: 18px;
}

.song-box a {
  color: var(--link-color);
}

.song-box a:hover {
  color: var(--link-hover-color);
}

.Playlists-title,
.artist-title {
  margin-top: 50px;
  color: var(--primary-color);
  text-align: center;
}

.playlist-container {
  background-color: var(--muted-bg);
  position: relative;
  margin: auto;
  max-width: 100%;
  padding: 20px 8%;
}

.playlist-box img {
  object-fit: cover;
  width: 90%;
  border-radius: 10px;
}

.playlist-box a {
  color: var(--link-color);
}

.playlist-box p {
  margin-top: 5px;
  font-size: 18px;
}

.artists-slideshow-container {
  background-color: var(--muted-bg);
  position: relative;
  margin: auto;
  max-width: 100%;
  padding: 20px 8%;
}

.artists-title {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.artists-slide {
  display: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artist-box {
  background-color: var(--background-color);
  color: var(--muted-text-color);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 22%;
  text-align: center;
  cursor: pointer;
}

.artist-box img {
  object-fit: cover;
  border-radius: 10px;
  width: 90%;
  height: 80%;
}

.artist-box p {
  margin-top: 5px;
  font-size: 18px;
}

.artist-box a {
  color: var(--link-color);
}

.artist-box a:hover {
  color: var(--link-hover-color);
}

.song-box:hover,
.playlist-box:hover,
.artist-box:hover{
  transform: scale(1.1);
  transition: 0.2s ease;
}

@media only screen and (max-width: 768px) {
  .artist-box,
  .playlist-box,
  .song-box {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .artist-box,
  .playlist-box,
  .song-box {
    width: 100%;
  }
}

.movies {
  width: 100%;
  padding: 20px;
  padding-right: 8%;
  margin-top: 10% !important;
  background-color: var(--muted-bg);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movies-box {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  width: 97%;
  margin: 3% 5%;
  height: 50vh;
  border-radius: 10px;
  overflow: hidden;
}

.movies-box img {
  object-fit: cover;
  border-radius: 10px;
  height: 80%;
  max-width: 40%;
  margin: 10px;
}

.movies-box.left {
  flex-direction: row;
}

.movies-box.right {
  flex-direction: row-reverse;
}

.line {
  background-color: var(--primary-color);
  width: 10px;
  margin: 10px;
  height: 90%;
  transition: width 0.2s ease;
}

.movies-box:hover .line {
  width: 20px;
  margin: 15px;
}

.movies-box:hover {
  cursor: pointer;
  transition: 0.5s ease;
  transform: scale(1.05);
}

.details {
  display: flex;
  flex-direction: column;
}

.details h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  margin: 70px auto 0;
  text-align: center;
}

.btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: var(--primary-color);
  border: 0.5px solid var(--primary-color);
  position: relative;
  transition: color 0.5s;
  z-index: 1;
}

.btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}

.btn a:hover span {
  width: 100%;
}

.movies-box h4
{
  font-weight: 600;
}

.anime-container {
  margin-top: 10% !important;
  background-color: var(--muted-bg);
  padding: 20px 8%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
}

.anime-box {
  width: calc(100vh / 5);
  position: relative;
  transition: width 0.6s ease, transform 0.6s ease;
  flex-shrink: 0; 
}

.anime-box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  height: 500px;
}

.anime-box:hover {
  width: calc(100vh / 3);
}

.content {
  border-radius: 10px;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(18, 115, 105, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.anime-box:hover .content {
  opacity: 1;
  cursor: pointer;
}

.arrow
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrow:hover
{
  cursor: pointer;
}

.arrow a:hover
{
  background-color: var(--button-text-color);
  color: var(--button-bg);
}

.arrow a {
  text-decoration: none;
  color: #fff;
  background-color: var(--button-bg);
  font-size: 30px;
  font-weight: 700;
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 50%;
}

.arrow p
{
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}

.anime-container::-webkit-scrollbar {
  display: none;
}

.anime-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.comic-container
{
  background-color: var(--muted-bg);
  margin-top: 10% !important;
  padding: 20px 8%;
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comic-box
{
  background-color: var(--background-color);
  color: var(--muted-text-color);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 22%;
  text-align: center;
  cursor: pointer;
}

.comic-box h3
{
  margin: 10px;
  font-weight: 600;
}

.comic-box p
{
  margin: 10px;
}

.comic-box img
{
  width: 90%;
  border-radius: 10px;
}

.comic-box:hover
{
  transform: scale(1.1);
  transition: 0.2s ease;
}

.view-more
{
  background-color: var(--muted-bg);
  padding: 20px;
}
.prev{
  left: 0px;
}

@media(max-width:770px){
  .comic-container{
    flex-direction:row;
    flex-wrap: wrap;
  }
  .comic-box{
    width: 40%;
    margin: 0px 0px 10px 0px;
  }
}
@media(max-width:485px)and (min-width:540px){
  
  .comic-box{
    width: 50%;
  }
}
@media(max-width:484px){
  .comic-container{
    flex-direction: column;
  }
  .comic-box{
    width: 100%;
  }
}
@media (min-width:770px) and (max-width:1000px){
  .comic-container{
    flex-wrap: wrap;
  }
  .comic-box{
    width: 40%;
  }
}

@media (max-width:768px)
{
  .movies-box
  {
    flex-direction: column !important;
    height: fit-content;
  }

  .btn
  {
    margin-bottom: 20px;
  }

  .line
  {
    display: none;
  }
  .details
  {
    justify-content: center;
    /* align-items: left; */
    padding-left: 12px;
    padding-right: 12px;
  }
}